html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 45px 550px 90px 500px 500px 90px 500px;
    grid-template-areas: 
    "header header header"
    "landing landing landing"
    "char-title char-title char-title"
    "arthur dutch hosea"
    "story story story"
    "weaponry weaponry weaponry"
    "lancaster volcanic pump";
    height: 315vh;
    width: 100vw;
    overflow: hidden;
}

section.header {
    grid-area: header;
}

section.landing {
    grid-area: landing;
}

section.char-title {
    grid-area: char-title;
}

section.arthur {
    grid-area: arthur;
    /* background-color: beige; */
}

section.dutch {
    grid-area: dutch;
    /* background-color: lightblue; */
}

section.hosea {
    grid-area: hosea;
    /* background-color: yellow; */
}

section.story {
    grid-area: story;
    /* background-color: pink; */
}

section.weaponry {
    grid-area: weaponry;
    /* background-color: white; */
}

section.lancaster {
    grid-area: lancaster;
    /* background-color: orange; */
}

section.volcanic {
    grid-area: volcanic;
    /* background-color: gray; */
}

section.pump {
    grid-area: pump;
    /* background-color: purple; */
}

/* HEADER */
.header {
    position: absolute;
}

.header li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 40px;
    position: relative;
    left: 99%;
    bottom: 110px;
    font-size: 1.1em;
}

.header a {
    text-decoration: none;
    color: #ced4da;
}

.header a::after {
    color: #e9ecef;
}

.header a:hover {
    color: #bb012d;
    transition: color 0.3s ease-in;
    text-decoration: underline;
}

/* LOCATION  */
.location-icon {
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 20px;
    top: 11.7px;
    
}

.location {
    position: relative;
    bottom: 29px;
    padding-left: 40px;
    color: #bb012d;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.location:hover {
    color: #bb012d;
    transition: color 0.3s ease-in;
}

/* LANDING */ 
.landing h1,  
h2,
h3,
h4 {
    color: #ced4da;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 2px black;
    /* mix-blend-mode:luminosity; */
    opacity: 0.9;
}

.landing h1 {
    left: 29%;
    top: -45px;
    font-size: 13em;
}

.landing h2 {
    left: 46%;
    top: -45px;
    font-size: 13em;
}

.landing h3 {
    left: 28.2%;
    top: 160px;
    font-size: 10em;
}

.landing h4 {
    left: 68%;
    top: -350px;
    font-size: 23em;
    color: #bb012d !important;
} 

.landing video {
   width: 100%;
   height: 550px;
   object-fit: cover;
   z-index: -100;
}

/* CHARACTERS */
.char-title h1 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: 0px;
    bottom: 15px;
    color: #bb012d;
    letter-spacing: 0.5em;
}

.char-title p {
    position: relative;
    color: #ced4da;
    text-align: center;
    bottom: 30px;
}


/* CHARACTER CARDS  */
.arthur-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.arthur-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.arthur-card .circle1 {
    position: absolute;
    top: 0;
    left: 95px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.arthur-card .circle1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.arthur-card:hover .circle1::before {
    clip-path: circle(400px at center);
}

.arthur-card .circle1 .arthur-avatar {
    position: relative;
    width: 159px;
    bottom: 10px;
    left: 3px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.arthur-card:hover .circle1 .arthur-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.arthur-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.content1 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.arthur-card:hover .content1 {
    left: 80px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

.arthur-card:hover .content1 h2 {
    bottom: 135px;
    font-size: 2em !important;
}

.arthur-card .arthur-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 500px;
    transition: 0.5s;
}

.arthur-card:hover .arthur-full {
    left: 80%;
    top: 10%;
    transform: translate(-50px, -50px) scale(1);
    transition-delay: 0.5s;
}

.arthur-full {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.dutch-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.dutch-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.dutch-card .circle2 {
    position: absolute;
    top: 0;
    left: 60px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dutch-card .circle2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.dutch-card:hover .circle2::before {
    clip-path: circle(400px at center);
}

.dutch-card .circle2 .dutch-avatar {
    position: relative;
    width: 159px;
    bottom: 7px;
    left: 0px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.dutch-card:hover .circle2 .dutch-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.dutch-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.content2 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.dutch-card:hover .content2 {
    left: 60px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

.dutch-card:hover .content2 h2 {
    bottom: 115px;
    font-size: 2em !important;
}

.hosea-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.3s; 
}

.dutch-card .dutch-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 500px;
    transition: 0.5s;
}

.dutch-card:hover .dutch-full {
    left: 60%;
    top: 10%;
    transform: translate(-50px, -50px) scale(1);
    transition-delay: 0.5s;
}

.dutch-full {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}


.hosea-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.hosea-card .circle3 {
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hosea-card .circle3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.hosea-card:hover .circle3::before {
    clip-path: circle(400px at center);
}

.hosea-card .circle3 .hosea-avatar {
    position: relative;
    width: 203px;
    bottom: 7px;
    left: 16px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.hosea-card:hover .circle3 .hosea-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.hosea-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.content3 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.hosea-card:hover .content3 {
    left: 15px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
}

.hosea-card:hover .content3 h2 {
    bottom: 115px;
    font-size: 2em !important;
}

.hosea-card .hosea-full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 520px;
    transition: 0.5s;
}

.hosea-card:hover .hosea-full {
    left: 75%;
    top: 8%;
    transform: translate(-50px, -50px) scale(1);
    transition-delay: 0.5s;
}

.hosea-full {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

/* GAME SUMMARY  */
.story, .story-title, .story-summary {
    position: relative;
    text-align: center;
    letter-spacing: 0.1em;

}

.story .story-title {
    font-size: 3em;
    text-transform: uppercase;
    color: #bb012d;
    bottom: 15%;
}

.story .story-summary {
    width: 1000px;
    left: 15%;
    font-size: 1.2em;
    color: #ced4da;
    bottom: 20%;
}

/* WEAPONRY */
.weaponry h1 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: -3px;
    bottom: 3em;
    color: #bb012d;
    letter-spacing: 0.5em;
    font-size: 1.6em;
}

.weaponry p {
    position: relative;
    color: #ced4da;
    text-align: center;
    bottom: 5.3em;
    left: -7px;
}

/* WEAPON CARDS */

/* LANCASTER */
.lancaster-card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lancaster-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.lancaster-card .circle4 {
    position: absolute;
    top: 0;
    left: 95px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lancaster-card .circle4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.lancaster-card:hover .circle4::before {
    clip-path: circle(400px at center);
}

.lancaster-card .circle4 .lancaster-avatar {
    position: relative;
    width: 540px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.lancaster-card:hover .circle4 .lancaster-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.lancaster-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.content4 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.lancaster-card:hover .content4 {
    left: 85px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.content4 h2 {
    bottom: 250px;
}

.content4 p {
    bottom: 600px;
}

/* VOLCANIC */
.volcanic-card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.volcanic-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.volcanic-card .circle5 {
    position: absolute;
    top: 0;
    left: 55px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volcanic-card .circle5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.volcanic-card:hover .circle5::before {
    clip-path: circle(400px at center);
}

.volcanic-card .circle5 .volcanic-avatar {
    position: relative;
    width: 400px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.volcanic-card:hover .circle5 .volcanic-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.volcanic-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

/* PUMP */
.pump-card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.pump-card:hover {
    width: 600px;
    transition-delay: 0s;
}

.pump-card .circle6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pump-card .circle6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bb012d;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.pump-card:hover .circle6::before {
    clip-path: circle(400px at center);
}

.pump-card .circle6 .pump-avatar {
    position: relative;
    width: 515px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.pump-card:hover .circle6 .pump-avatar {
    transform: scale(0);
    transition-delay: 0s;
}

.pump-avatar {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}












/* MEDIA QUERIRES */
@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 400px 300px 300px 300px 400px 300px 300px 300px;
        grid-template-areas: 
        "header"
        "landing"
        "arthur"
        "dutch"
        "hosea"
        "story"
        "lancaster"
        "pump"
        "volcanic";
    }

}