html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 45px 550px 45px 500px 500px 500px;
    grid-template-areas: 
    "header header header"
    "landing landing landing"
    "char-title char-title char-title"
    "arthur dutch hosea"
    "story story story"
    "lancaster pump volcanic";
    height: 300vh;
    overflow: hidden;
}

section.header {
    grid-area: header;
}

section.landing {
    grid-area: landing;
}

section.char-title {
    grid-area: char-title;
}

section.arthur {
    grid-area: arthur;
    background-color: beige;
}

section.dutch {
    grid-area: dutch;
    background-color: brown;
}

section.hosea {
    grid-area: hosea;
    background-color: yellow;
}

section.story {
    grid-area: story;
    background-color: pink;
}

section.lancaster {
    grid-area: lancaster;
    background-color: orange;
}

section.pump {
    grid-area: pump;
    background-color: purple;
}

section.volcanic {
    grid-area: volcanic;
    background-color: gray;
}

/* HEADER */
.header {
    position: absolute;
}

.header li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 40px;
    position: relative;
    left: 99%;
    bottom: 110px;
    font-size: 1.1em;
}

.header a {
    text-decoration: none;
    color: #ced4da;
}

.header a::after {
    color: #e9ecef;
}

.header a:hover {
    color: #bb012d;
    transition: color 0.3s ease-in;
    text-decoration: underline;
}

/* LANDING */ 
.landing h1,  
h2,
h3,
h4 {
    color: #ced4da;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 2px 2px black;
    /* mix-blend-mode:luminosity; */
    opacity: 0.9;
}

.landing h1 {
    left: 29%;
    top: -45px;
    font-size: 13em;
}

.landing h2 {
    left: 46%;
    top: -45px;
    font-size: 13em;
}

.landing h3 {
    left: 28.2%;
    top: 160px;
    font-size: 10em;
}

.landing h4 {
    left: 68%;
    top: -350px;
    font-size: 23em;
    color: #bb012d !important;
} 

.landing video {
   width: 100%;
   height: 550px;
   object-fit: cover;
   z-index: -100;
}

/* CHARACTERS SECTION */
.char-title h1 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 15px;
    color: #bb012d;
    letter-spacing: 1em;
}



/* LOCATION  */
.location-icon {
    width: 15px;
    height: 15px;
    position: relative;
    padding-left: 20px;
    top: 11.7px;
    
}

.location {
    position: relative;
    bottom: 29px;
    padding-left: 40px;
    color: #bb012d;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.location:hover {
    color: #bb012d;
    transition: color 0.3s ease-in;
}

/* CHARACTER CARDS  */
.arthur-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    background-color: green;
    border-radius: 20px;

}

.arthur-card:hover {
    transition: 0.5s;
    transition-delay: 0.3s;
    width: 600px
}













/* MEDIA QUERIRES */
@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 400px 300px 300px 300px 400px 300px 300px 300px;
        grid-template-areas: 
        "header"
        "landing"
        "arthur"
        "dutch"
        "hosea"
        "story"
        "lancaster"
        "pump"
        "volcanic";
    }

}